body {
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

button {
    padding: 5px 25px;
    margin-top: 10px;
}

input {
    padding: 5px;
    margin: 10px;
}